.about-grid {
    background: rgb(0 0 0 / 70%);
    padding: 35px;
}

.about-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-title {
    font-size: 3em;
    text-align: center;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    color: #a700ff;
    font-weight: 600;
    padding: 0;
    margin: 0;
}

.about-subtitle {
    /* font-size: 1.5em; */
    text-align: justify;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.about-tabText {
    text-align: justify;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.about-logo {
    /* width: 40%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.3; */
    width: 100%;
    opacity: 0.5;
}

.about-mission {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}


@media (max-width: 600px) {

    .about-title {
        font-size: 1.5em;
    }

    .about-subtitle {
        font-size: 1em;
    }

    .about-tabText {
        font-size: 0.9em;
    }

    .about-grid {
        padding: 35px;
    }
}